/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 
 html,
 body {
    height: 100%;
    font-size: 1.6rem;
    /* same as 16px using 62.5% fix for rem */
    line-height: 1.6;
 }


 /* ----- BODY ----- */
 body {
    background: rgb(255, 236, 190);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
 
 }

 .content-wrapper {
   display: flex;
   flex-direction: column;
 }

 h1 {
   border: 200px;
   padding-left: 8vw;
   margin: 1rem;
 }

 h1:hover {
   color: rgb(100,0,0);
 }

 section {
   padding-top: 4vh;
   padding-left: 8vw;

    
 }

 a {
   color: inherit;
   text-decoration: none;
 }


 a:hover {
   color: rgb(100,0,0);
 }

.content-wrapper {
    display: flex;
}

 footer{
    margin-top: auto;
 }
